@use '../../styles/variables.scss' as *;
@use '../../styles/animations.scss' as *;

.container-header {
    background-color: $color-darkblue;
    background-image: radial-gradient(circle at top right,
            $color-blue,
            transparent 35%);

    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Cormorant Garamond', sans-serif;

    width: 100%;
    height: 100px;
    padding: 24px 32px;


    .header-right {
        display: flex;
        align-items: center;
        gap: 20px;

        ul {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: end;
            list-style: none;
            font-size: 2rem;

            a {
                text-decoration: none;
                color: $color-light;
                font-weight: 500;
            }

            a:hover {
                animation-name: grow-up;
                animation-duration: 1s;
                font-weight: bold;
                transform: scale(1.05);
            }
        }

        .languages {
            img {
                width: 28px;
                margin-right: 8px;
                cursor: pointer;
                opacity: 0.5;
            }


            img:hover {
                animation-name: grow-up;
                animation-duration: 1s;
                transform: scale(1.1);
                opacity: 1;
            }

            img.active {
                opacity: 1;
            }
        }


    }
}

@media (max-width: 800px) {
    .container-header {
        height: 70px;
        padding: 8px;
        .header-right {
            gap: 10px;

            ul {
                gap: 12px;
                font-size: 1.6rem;
            }

            .languages {
                img {
                    width: 20px;
                }
            }
        }
    }
}