@use '../../styles/variables.scss' as *;
@use '../../styles/animations.scss' as *;

.container-experience {
    padding: 36px;
    background-color: $color-darkblue;
    background-image: radial-gradient(circle at top left,
            $color-blue,
            transparent 25%);

    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        color: $color-secondary;
        margin-bottom: 30px;
    }

    .experiences {
        display: flex;

        .experience-content {
            border: 1px solid $color-blue;
            border-radius: 10px;
            padding: 12px;
            margin-right: 30px;
            width: 400px;
            position: relative;
            background-color: $color-darkblue;

            .experience-header {
                display: flex;
                align-items: center;
                width: 300px;
                margin-bottom: 12px;

                h3 {
                    color: $color-lightblue;
                    font-size: 1.6rem;
                    margin-right: 10px;
                    display: flex;

                    img {
                        width: 20px;
                        border-radius: 4px;
                    }
                }

                span {
                    font-size: 1.2rem;
                    top: 14px;
                    right: 10px;
                    color: $color-lightblue
                }
            }

            p {
                margin: 10px 0px;
                font-size: 1.2rem;
            }

            img {
                margin-right: 4px;
                width: 20px;
            }

        }
    }
}

@media (max-width: 800px) {
    .container-experience {
        padding: 24px;
        background-image: radial-gradient(circle at top left,
                $color-blue,
                transparent 50%);

        color: $color-light;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin-bottom: 24px;
        }

        .experiences {
            flex-direction: column;

            .experience-content {
                padding: 8px;
                margin-bottom: 12px;
                width: 300px;


                .experience-header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 8px;

                    h3 {
                        font-size: 1.4rem;
                        margin-right: 8px;

                        img {
                            width: 16px;
                        }
                    }

                    span {
                        font-size: 1rem;
                    }
                }

                p {
                    font-size: 1.2rem;
                }

                img {
                    margin-right: 6px;
                    width: 18px;
                }
            }
        }
    }
}